page-health {
    ion-card{
        border: 5px solid black;
        padding: 0px;
    }

}



.cat{
    font-family: 'Lobster', cursive;
    font-size: 72px;
}

.catcontent{
    font-family: 'Cute Font', cursive;
    font-size: 520ex;
}