@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Cute+Font');


page-caring {

    ion-card{
        border: 5px solid black;
        padding: 0px;
    }

}

.cat{
    font-family: 'Lobster', cursive;
    font-size: 72px;
}

.catcontent{
    font-family: 'Cute Font', cursive;
    font-size: 520ex;
}
